<div class="row">

    <h2 class=" m-4">Proyectos</h2>

    <div class=" d-flex flex-wrap m-3 ">

      <div class="card m-3">
          
        <div class="card-body">

          <img src="/imagenes/me.jpg" class="w-100" alt="">
          <h5 class="card-title">Proyecto 3</h5>
          <div class="card-text">
          
            <p class="card-text">
              Descripcion proyecto lorem ipsum sit amet
            </p>

          </div>
          
        </div>
      </div>

      <div class="card m-3">
          
        <div class="card-body">

          <img src="/imagenes/me.jpg" class="w-100" alt="">
          <h5 class="card-title">Proyecto 3</h5>
          <div class="card-text">
          
            <p class="card-text">
              Descripcion proyecto lorem ipsum sit amet
            </p>
          </div>
          
        </div>
      </div>

      <div class="card m-3">
          
        <div class="card-body">

          <img src="/imagenes/me.jpg" class="w-100 " alt="">
          <h5 class="card-title">Proyecto 4</h5>
          <div class="card-text">
          
            <p class="card-text">
              Descripcion proyecto lorem ipsum sit amet
            </p>
          </div>
          
        </div>
      </div>

      <div class="card m-3">
          
        <div class="card-body">

          <img src="/imagenes/me.jpg" class="w-100" alt="">
          <h5 class="card-title">Proyecto 3</h5>
          <div class="card-text">
          
            <p class="card-text">
              Descripcion proyecto lorem ipsum sit amet
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>