<div class="row d-flex" > 

  <h2 class=" ">PROYECTOS </h2>
  
      
    <div *ngFor='let project_category of projectsList;' class="card m-3"> 
      
      <div class="card-body">

        <h5 class="card-title">{{project_category[0]}}</h5>
          
        <ul class="list-group list-group-flush ">
            <li class="list-group-item" style="text-align: center;">
              <br>
            </li>

            <li *ngFor="let project of project_category[1]" class="list-group-item ">
              <a >{{project[0]}}</a><br>
              {{project[1]}} 
            </li>
        </ul>

        </div>
    </div>