<nav class="menu_bot navbar navbar-expand navbar-dark bg-dark fixed-bottom d-block d-sm-none"> 

    <div class="border container-fluid justify-content-evenly">
     
      <ul class="navbar-nav" align="right">
        
        <li class="nav-item" >
          <a href="#home" class="nav-link p-1 text-center">
              
              <img src="/imagenes/icon_home.png" width="32"  /> 
              <p class="" style="font-size: 0.75rem;">HOME</p>
          </a>
        </li>

        <li class="nav-item" >

          <a href="#home" class="nav-link p-1 text-center">
              <img src="/imagenes/icon_skills.png" width="32" /> 
              <p class="" style="font-size: 0.75rem;">HARD.S</p>
          </a>
        </li>


        <li class="nav-item" >

          <a href="#home" class="nav-link p-1 text-center">
              <img src="/imagenes/icon_skills.png" width="32" /> 
              <p class="" style="font-size: 0.75rem;">SOFT.S</p>
          </a>
        </li>

        
        <li class="nav-item" >

          <a href="#home" class="nav-link p-1 text-center">
              <img src="/imagenes/icon_portfolio.png" width="32" /> 
              <p class="" style="font-size: 0.75rem;">PROYECTOS</p>
          </a>
        </li>


        <li class="nav-item" >

          <a href="#home" class="nav-link p-1 text-center">
              <img src="/imagenes/icon_edu.png" width="32" /> 
              <p class="" style="font-size: 0.75rem;">EDU</p>
          </a>
        </li>


        <li class="nav-item" >

          <a href="#home" class="nav-link p-1 text-center">
              <img src="/imagenes/icon_cv.png" width="32" /> 
              <p class="" style="font-size: 0.75rem;">EXP</p>
          </a>
        </li>
      </ul>
    </div>
  </nav>