
    <div class="row" >
    
      <div class="col ">
        <img src="imagenes/APLogo-20-20.png" class="m-3" alt="AP Logo" align="right">
      </div>


    </div>

    <div class="row" >

        <div class=" d-inline m-4" id="home">
          <h1 class="" align="right"> Walter Kutschker </h1>
          <h2 class="" align="right"> Programador, Web Dev Fullstack Jr. </h2>
          <h3 class="">Aviable for HIRE</h3>
          <h4>______________________________________________________________</h4>
        </div>

    </div>

