
    <!-- Modal -->
    <div class="modal fade" id="login-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered text-center">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Log in</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> X </button>
            </div>
            <div class="modal-body">
                
                <form action="">

                    <div>

                    <label for="exampleInputEmail1" class="form-label d-block">USUARIO</label>
                    <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                 
                    <label for="exampleInputEmail1" class="form-label d-block">CONTRASEÑA</label>
                    <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>
                    
                

                </form>
                
            </div>
            <div class="modal-footer d-flex justify-content-evenly">
            <button type="button" class="btn btn-primary">Iniciar sesión</button>
            </div>
        </div>
        </div>
    </div>
