<div class="menu_lat">

  <!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->

  <div class="row">

    <div class="col d-flex justify-content-evenly" >
       
        <button type="button" class="btn btn-sm bi-info-circle-fill" data-toggle="tooltip" data-placement="bottom" title="esaaa">
        sitio </button>
      
        <button class="btn white bi-box-arrow-in-right"> login</button>
     
    </div>
     
  </div>

  <!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->


  <div class=" row">
    <img class=" mx-auto w-50  p-2 portrait" src="imagenes/me.jpg" alt="portrait">
  </div>
    
  <!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->

  <div class="row">
      
    <div class="col">
    </div>

    <div class=" col d-grid ">

      <button type="button" class="flex-fill menu_btn btn ">
        <span class="bi-house"></span><br> HOME
      </button>

      <button type="button" class="menu_btn btn  ">
        <span class="bi-diagram-3-fill "></span><br>HARDSKILLS
      </button>

      <button type="button" class="menu_btn btn  ">
        <span class="bi-diagram-3"></span><br>SOFTSKILLS
      </button>

      <button type="button" class=" menu_btn btn" >
        <span class="bi-briefcase"></span><br>PROYECTOS
      </button>

      <button type="button" class="flex-fill menu_btn btn">
      <span class="bi-book"></span><br>EDUCACION
      </button>

      <button type="button " class=" menu_btn btn">
        <span class="bi-file-earmark-person"></span><br>EXPERIENCIA
      </button>

    </div>    

     
    <div class="col">
    </div>
      
  </div>
  
  <!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->

  <div class=" row space"> 
  </div>

  <!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->

  <div class="row text-center ">

    <div class="col g-5">CONTACTO:<br></div>

  </div>

  <div class="row">
    
    <div class="col d-flex justify-content-evenly ">

      <button type="button" class="btn">

        <img src="/imagenes/icon_gh.png" class="img-fluid"/>

      </button>

      <button type="button" class="btn ">

        <img src="/imagenes/icon_linkedin.png" class="img-fluid" />

      </button>

      <button type="button" class="btn ">

        <img src="/imagenes/icon_mail.png" class="img-fluid" />

      </button>
   
    </div>

  </div>

  <!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->

</div>