
<div class="container-fluid text-white g-0 m-0" > 
  
  <div class="row g-0" >

      <app-login></app-login>

      <!--COLUMNA IZQ. - MENU ---------------------------------- -->
      
      <div class="col-3 d-none d-md-block position-fixed" >
        <app-lateral-bar></app-lateral-bar>
      </div>

      <div class="col-3 menu_lat d-none d-md-block " > </div>
      
    
      <!--COLUMNA DER. - PRINCIPAL.----------------------------- -->

      <div class="col">

        <app-bottom-bar></app-bottom-bar>
        <app-header></app-header>
        <app-hardskills></app-hardskills>
        <app-softskills></app-softskills>
        <app-proyectos></app-proyectos>
        <app-educacion></app-educacion>
        <app-experiencia></app-experiencia>

        

      </div>
  </div>

</div>
