<div class="row d-flex" > 

    <h2 class=" ">HARDSKILLS</h2>
    
        
      <div *ngFor='let skill_category of hardskillsList;' class="card m-3"> 
        
        <div class="card-body">

          <h5 class="card-title">{{skill_category[0]}}</h5>
            
          <ul class="list-group list-group-flush ">
              <li class="list-group-item" style="text-align: center;">
                <br>
              </li>

              <li *ngFor="let skill of skill_category[1]" class="list-group-item ">
                <i [class]="skill[1]"></i> 
                {{skill[0]}} 
              </li>
          </ul>

          </div>
      </div>
      

     



 




    
</div>