<div class="row">

    <h2 class=" m-4">SOFTSKILLS</h2>
    

    <div class=" d-flex flex-wrap m-3 ">

      <div class="card m-3">
          
        <div class="card-body">
          <h5 class="card-title">Skills</h5>
          <div class="card-text">
          
            <ul class="list-group list-group-flush">
              
              <li class="list-group-item"><i class="devicon-angularjs-plain colored"></i> Angular JS</li> 
              <li class="list-group-item"><i class="devicon-bootstrap-plain colored"></i> Bootstrap </li>
              <li class="list-group-item"><i class="devicon-spring-plain colored"></i> Spring Boot</li> 
              <li class="list-group-item"><i class="devicon-godot-plain colored"></i> Godot Engine</li>
              <li class="list-group-item"><i class="devicon-angularjs-plain colored"></i> Angular JS</li> 
              <li class="list-group-item"><i class="devicon-bootstrap-plain colored"></i> Bootstrap </li>
              <li class="list-group-item"><i class="devicon-spring-plain colored"></i> Spring Boot</li> 
              <li class="list-group-item"><i class="devicon-godot-plain colored"></i> Godot Engine</li>
          
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>