<div class="row p-5">

    <h2 class=" ">SOFTSKILLS</h2>
    

    <div class=" d-flex flex-wrap">

      <div class="card m-3">
          
        <div class="card-body">
          <h5 class="card-title">Skills</h5>
          <div class="card-text">
          
            <ul class="list-group list-group-flush">
              
              <li class="list-group-item"><i class="devicon-angularjs-plain colored"></i> Angular JS</li> 
              <li class="list-group-item"><i class="devicon-bootstrap-plain colored"></i> Bootstrap </li>
              <li class="list-group-item"><i class="devicon-spring-plain colored"></i> Spring Boot</li> 
              <li class="list-group-item"><i class="devicon-godot-plain colored"></i> Godot Engine</li>
              <li class="list-group-item"><i class="devicon-angularjs-plain colored"></i> Angular JS</li> 
              <li class="list-group-item"><i class="devicon-bootstrap-plain colored"></i> Bootstrap </li>
              <li class="list-group-item"><i class="devicon-spring-plain colored"></i> Spring Boot</li> 
              <li class="list-group-item"><i class="devicon-godot-plain colored"></i> Godot Engine</li>
          
            </ul>
          </div>
          
        </div>
      </div>

      <div class="card m-3">
          
        <div class="card-body">
          <h5 class="card-title">Idiomas</h5>
          <div class="card-text">
          
            <ul class="list-group list-group-flush">
              
              <li class="list-group-item"><i class="devicon-angularjs-plain colored"></i> Español -nativo</li> 
              <li class="list-group-item"><i class="devicon-bootstrap-plain colored"></i> Inglés - LvL B2</li>
              
          
            </ul>
          </div>
          
        </div>
      </div>





    </div>
  </div>